@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@keyframes background {
	100% {
		background-size: 2500px 1000px;
	}
}
body {
	align-items: center;
	animation: background 5s infinite alternate linear;
	background-image: url("Cloudy.svg");
	background-position: -500px -100px;
	background-size: 2500px 1200px;
	box-sizing: border-box;
	display: flex;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	letter-spacing: 1px;
}

#root {
	box-sizing: border-box;
}

.container {
	background-color: #1e3266;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: white;
	margin-top: 50px;
	padding: 30px 50px;
	text-align: center;
}
.container input::placeholder {
	color: white;
}
.container input {
	background-color: #1e3266;
	border: none;
	border-bottom-width: 1px;
	border-color: #356cb1;
	border-bottom-style: solid;
	color: white;
	font-family: "Roboto", sans-serif;
	height: 25px;
	letter-spacing: 1px;
	outline: none;
	padding-left: 10px;
}

.container button {
	background-color: #356cb1;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
	margin-left: 5px;
	padding: 7px 12px;
	transition: 0.3s;
}

.container button:hover {
	opacity: 0.9;
}
